@font-face {
    font-family: Candal;
    src: url('../dist/fonts/Candal/Candal-Regular.ttf');
}

@font-face {
    font-family: Alike;
    src: url('../dist/fonts/Alike/Alike-Regular.ttf');
}

@font-face {
    font-family: OleoScript;
    src: url('../dist/fonts/Oleo_Script/OleoScript-Bold.ttf');
}

@font-face {
    font-family: Colo-pro;
    src: url('../dist/fonts/colo-pro/Colo-Pro.otf');
}

@font-face {
    font-family: CabinSketch;
    src: url('../dist/fonts/Cabin_Sketch/CabinSketch-Regular.ttf');
}

body {
    /* padding: 50px 0px 0px 0px; */
    z-index: 0;
    /* background-color: #004aad; */
    position: relative;
    background-image: url("../assets/patternpad.svg");
}

h1 {
    font-family: Candal;
}

h2 {
    font-family: Candal;
}

p {
    font-family: Alike;
}


/* .titulo {
    background-position: 0px -50px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
} */

.oyd {
    color: white;
    text-align: center;
    font-family: OleoScript;
    font-weight: 900;
}

.obesidad {
    color: white;
}

.disbiosis {
    color: white;
}

#whatdoing {
    font-family: CabinSketch;
    color: #ffde59;
}

.neon {
    font-size: 40px;
    font-family: Colo-pro;
}

#waves.recuadro {
    padding: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-image: url("../assets/border2.png") 85 round;
}

#waves>p {
    background-color: #56b6de;
    margin-bottom: 0px;
    padding: 0px 16px;
}

#marco.recuadro {
    padding: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-image: url("../assets/lines.png") 50 round;
}

#marco>p {
    margin-bottom: 0px;
    padding: 0px 16px;
}

#nubes.recuadro {
    padding: 0px;
    margin: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-image: url("../assets/nubes.png") round;
    border-image-slice: 40;
    border-image-width: 1;
}

#patron.recuadro {
    padding: 0px;
    margin: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-image: url("../assets/patron.png") repeat;
    border-image-slice: 40;
    border-image-width: 1;
}

#patron>h1 {
    background-color: #6cdcff;
    margin-bottom: 0px;
    padding: 0px 16px;
}

.caja {
    position: relative;
    /* text-align: center; */
    /* border-bottom: 4px dotted #ffeae0 */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    text-align: left;
    position: absolute;
    top: 10%;
    left: 5%;
}

.bottom {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: black;
    box-shadow: 10px 10px #233dff;
}

#angulo {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15);
    font-size: 30px;
}

#primero {
    color: #ffcece;
    /* text-shadow: 0 0 7px #ff9999, 0 0 10px #ff9999, 0 0 21px #ff9999, 0 0 22px #ff0000, 0 0 42px #ff0000, 0 0 72px #ff0000, 0 0 92px #ff0000; */
    text-shadow: 0 0 7px #ff9999, 0 0 10px #ff9999, 0 0 21px #ff9999;
}

#segundo {
    color: #ffface;
    /* text-shadow: 0 0 7px #ffcc99, 0 0 10px #ffcc99, 0 0 21px #ffcc99, 0 0 22px #ffe600, 0 0 42px #ffe600, 0 0 72px #ffe600, 0 0 92px #ffe600; */
    text-shadow: 0 0 7px #ffcc99, 0 0 10px #ffcc99, 0 0 21px #ffcc99;
}

#tercero {
    color: #ffffff;
    /* text-shadow: 0 0 7px #ffffff, 0 0 10px #ffffff, 0 0 21px #ffffff, 0 0 22px #dfdfdf, 0 0 42px #dfdfdf, 0 0 72px #dfdfdf, 0 0 92px #dfdfdf; */
    text-shadow: 0 0 7px #ffffff, 0 0 10px #ffffff, 0 0 21px #ffffff;
}


/* xl and beyond */

@media screen and (min-width: 1200px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 60px;
    }
    .arrow {
        width: 50px;
    }
    .obeso {
        width: 35%;
    }
    .tripas {
        width: 70%;
    }
    #waves.recuadro {
        font-size: 26.8px;
    }
    #marco.recuadro {
        font-size: 25.1px;
    }
    #nubes.recuadro {
        font-size: 40.5px;
    }
    #glucosa {
        text-align: center;
    }
    #diabetes {
        text-align: center;
        font-size: 22.7px;
    }
    .obesidad {
        text-align: center;
        font-size: 28.7px;
    }
    .disbiosis {
        text-align: center;
        font-size: 28.7px;
    }
}


/* lg */

@media screen and (max-width: 1200px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 60px;
    }
    .arrow {
        width: 50px;
    }
    .disbiosis {
        text-align: center;
        font-size: 22.7px;
    }
    .tripas {
        width: 70%;
    }
    .obesidad {
        text-align: center;
        font-size: 22.7px;
    }
    #waves.recuadro {
        font-size: 26.8px;
    }
    #marco.recuadro {
        font-size: 25.1px;
    }
    #nubes.recuadro {
        font-size: 40.5px;
    }
    #glucosa {
        text-align: center;
    }
    #diabetes {
        text-align: center;
        font-size: 22.7px;
    }
}


/* md */

@media screen and (max-width: 992px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 50px;
    }
    .arrow {
        width: 50px;
    }
    #nubes.recuadro {
        font-size: 30.5px;
    }
    .tripas {
        width: 90%;
    }
}


/* sm */

@media screen and (max-width: 768px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 40px;
    }
    .arrow {
        width: 40px;
    }
    .disbiosis {
        text-align: left;
    }
    .tripas {
        width: 100%;
    }
    #nubes.recuadro {
        font-size: 30.5px;
    }
    .banner {
        height: 100px;
        object-fit: cover;
    }
}


/* xs */

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
    .top {
        top: 15%;
        left: 5%;
        font-size: 25px;
        text-align: center;
    }
    .bottom {
        bottom: 10%;
        right: 5%;
        background-color: black;
        box-shadow: 5px 5px #233dff;
    }
    .arrow {
        width: 35px;
    }
    .tripas {
        width: 90%;
    }
    .obesidad {
        text-align: right;
        font-size: 16px;
    }
    .disbiosis {
        text-align: left;
        font-size: 16px;
    }
    #waves.recuadro {
        border-left: none;
        border-right: none;
    }
    #nubes.recuadro {
        border-left: none;
        border-right: none;
    }
    #nubes.recuadro {
        font-size: 15.5px;
    }
    #glucosa {
        text-align: left;
    }
}

@media screen and (max-width: 370px) {
    .arrow {
        width: 25px;
    }
}