@font-face {
    font-family: Candal;
    src: url('../dist/fonts/Candal/Candal-Regular.ttf');
}

@font-face {
    font-family: OleoScript;
    src: url('../dist/fonts/Oleo_Script/OleoScript-Bold.ttf');
}

@font-face {
    font-family: Colo-pro;
    src: url('../dist/fonts/colo-pro/Colo-Pro.otf');
}

@font-face {
    font-family: CabinSketch;
    src: url('../dist/fonts/Cabin_Sketch/CabinSketch-Regular.ttf');
}

body {
    z-index: 0;
    position: relative;
    /* background-image: url("../assets/patternpad3.svg"); */
    /* background-image: linear-gradient(#a0d8ed00, #0B7A7580, #19535F80, #7B2D2680, #947EB080), url("../assets/patternpad3.svg"); */
    background-image: linear-gradient(#947EB080, #0B7A7580, #19535F80, #7B2D2680, #947EB080);
}

h1 {
    font-family: Candal;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    font-family: Candal;
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

p,
ul {
    font-family: Candal;
    color: #24252c;
}

.oyd {
    color: #402b58;
    text-align: center;
    font-family: OleoScript;
    font-weight: 900;
}

#whatdoing {
    font-family: CabinSketch;
    color: #ffde59;
    -webkit-text-stroke: 0px;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.neon {
    font-size: 60px;
    font-family: Colo-pro;
}

.recuadro {
    padding: 0px;
    border: 30px solid transparent;
}

#waves.recuadro {
    border-image: url("../assets/border2.png") 85 round;
}

#waves>p {
    background-color: #6cffff99;
    margin-bottom: 0px;
    padding: 5px;
    text-align: center;
}

#marco.recuadro {
    border-image: url("../assets/lines.png") 50 round;
}

#marco>p {
    margin-bottom: 0px;
    padding: 0px;
}

#nubes.recuadro {
    border-image: url("../assets/nubes.png") 40 round;
    /* border-image-width: 1; */
}

#patron.recuadro {
    border-image: url("../assets/patron.png") 40 repeat;
    /* border-image-width: 1; */
}

#patron>h1 {
    margin-bottom: 0px;
    padding: 0px 16px;
}

.caja {
    position: relative;
    /* text-align: center; */
    /* border-bottom: 4px dotted #ffeae0 */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    color: #636788;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 5%;
}

.bottom {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: black;
    box-shadow: 10px 10px #233dff;
}

#primero {
    color: #ffcece;
    /* text-shadow: 0 0 7px #ff9999, 0 0 10px #ff9999, 0 0 21px #ff9999, 0 0 22px #ff0000, 0 0 42px #ff0000, 0 0 72px #ff0000, 0 0 92px #ff0000; */
    text-shadow: 0 0 7px #ff9999, 0 0 10px #ff9999, 0 0 21px #ff9999;
}

#segundo {
    color: #f7d17e;
    /* text-shadow: 0 0 7px #ffcc99, 0 0 10px #ffcc99, 0 0 21px #ffcc99, 0 0 22px #ffe600, 0 0 42px #ffe600, 0 0 72px #ffe600, 0 0 92px #ffe600; */
    text-shadow: 0 0 7px #ffcc99, 0 0 10px #ffcc99, 0 0 21px #ffcc99;
}

#tercero {
    color: #aba6d1;
    /* text-shadow: 0 0 7px #ffffff, 0 0 10px #ffffff, 0 0 21px #ffffff, 0 0 22px #dfdfdf, 0 0 42px #dfdfdf, 0 0 72px #dfdfdf, 0 0 92px #dfdfdf; */
    text-shadow: 0 0 7px #5d55a5, 0 0 10px #5d55a5, 0 0 21px #5d55a5;
}

.bkgd {
    /* background-image: url("../assets/patternpad.svg"); */
    background-color: #c5e6f280;
    margin: 0px -12px 100px -12px;
}

div.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    transition: transform .2s;
    /* Animation */
}

div.fixed:hover {
    transform: scale(1.5);
}


/* xl and beyond */

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 50px;
    }
    #whatdoing {
        font-size: 55px;
    }
    .top {
        top: 10%;
        left: 5%;
        font-size: 70px;
    }
    .arrow {
        width: 50px;
    }
    .tripas {
        width: 70%;
    }
    p,
    ul {
        font-size: 28px;
    }
    .disbiosis {
        text-align: center;
    }
    .obeso {
        width: 35%;
    }
    .obesidad {
        text-align: center;
    }
    .diabetes {
        text-align: center;
    }
    #glucosa {
        font-size: 35px;
        text-align: center;
    }
}


/* lg */

@media screen and (max-width: 1200px) {
    p,
    ul {
        font-size: 20px;
    }
    .top {
        top: 10%;
        left: 5%;
        font-size: 60px;
    }
    .arrow {
        width: 50px;
    }
    .disbiosis {
        text-align: center;
    }
    .tripas {
        width: 70%;
    }
    .obesidad {
        text-align: center;
    }
    .diabetes {
        text-align: center;
    }
    #glucosa {
        text-align: center;
    }
    .bkgd {
        margin-bottom: 60px;
    }
}


/* md */

@media screen and (max-width: 992px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 50px;
    }
    .arrow {
        width: 50px;
    }
    .tripas {
        width: 90%;
    }
    .diabetes {
        text-align: center;
    }
    #glucosa {
        font-size: 22px;
    }
}


/* sm */

@media screen and (max-width: 768px) {
    .top {
        top: 10%;
        left: 5%;
        font-size: 40px;
    }
    .arrow {
        width: 40px;
    }
    .tripas {
        width: 100%;
    }
    p,
    ul {
        font-size: 18px;
    }
    .disbiosis {
        text-align: left;
    }
    .obesidad {
        text-align: right;
    }
    .diabetes {
        text-align: center;
    }
    #waves.recuadro,
    #nubes.recuadro {
        border-left: none;
        border-right: none;
    }
    #glucosa {
        font-size: 22px;
    }
    .banner {
        height: 100px;
        object-fit: cover;
    }
    div.fixed {
        bottom: 0px;
        right: 0px;
    }
}


/* xs */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 25px;
    }
    #whatdoing {
        text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 30px;
    }
    .top {
        top: -5%;
        left: 5%;
        font-size: 30px;
        text-align: center;
    }
    .bottom {
        bottom: 10%;
        right: 5%;
        background-color: black;
        box-shadow: 5px 5px #233dff;
    }
    .arrow {
        width: 35px;
    }
    .tripas {
        width: 90%;
    }
    p,
    ul {
        font-size: 16px;
    }
    .disbiosis {
        text-align: left;
    }
    .obesidad {
        text-align: right;
    }
    .diabetes {
        text-align: left;
    }
    #waves.recuadro,
    #nubes.recuadro {
        border-left: none;
        border-right: none;
    }
    #glucosa {
        font-size: 16px;
        text-align: center;
        margin-bottom: 0px;
    }
    #findrisk {
        font-size: 30px;
    }
    .neon {
        font-size: 35px;
    }
}

@media screen and (max-width: 370px) {
    .arrow {
        width: 25px;
    }
}